<h1><%= @coupon.store %></h1>
<h1><%= @coupon.coupon_code %></h1>
<button><%= link_to "Edit Coupon", edit_coupon_path %></button>

<%= button_to "Delete", @coupon, method: :delete, data:{confirm: "Are you sure?"} %>
